// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) import OpenAPIRuntime
#if os(Linux)
@preconcurrency import struct Foundation.URL
@preconcurrency import struct Foundation.Data
@preconcurrency import struct Foundation.Date
#else
import struct Foundation.URL
import struct Foundation.Data
import struct Foundation.Date
#endif
import HTTPTypes
/// WonderWaltz trip planning backend. v1 surface: ingestion reads (live), trip/plan stubs (501 until Phase 3), auth stubs (501 until Phase 4).
public struct Client: APIProtocol {
    /// The underlying HTTP client.
    private let client: UniversalClient
    /// Creates a new client.
    /// - Parameters:
    ///   - serverURL: The server URL that the client connects to. Any server
    ///   URLs defined in the OpenAPI document are available as static methods
    ///   on the ``Servers`` type.
    ///   - configuration: A set of configuration values for the client.
    ///   - transport: A transport that performs HTTP operations.
    ///   - middlewares: A list of middlewares to call before the transport.
    public init(
        serverURL: Foundation.URL,
        configuration: Configuration = .init(),
        transport: any ClientTransport,
        middlewares: [any ClientMiddleware] = []
    ) {
        self.client = .init(
            serverURL: serverURL,
            configuration: configuration,
            transport: transport,
            middlewares: middlewares
        )
    }
    private var converter: Converter {
        client.converter
    }
    /// List all WDW parks
    ///
    /// Returns the catalog list of Walt Disney World parks.
    ///
    /// - Remark: HTTP `GET /v1/parks`.
    /// - Remark: Generated from `#/paths//v1/parks/get(ParksController_getParks)`.
    public func ParksController_getParks(_ input: Operations.ParksController_getParks.Input) async throws -> Operations.ParksController_getParks.Output {
        try await client.send(
            input: input,
            forOperation: Operations.ParksController_getParks.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/parks",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.ParksController_getParks.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.ParksController_getParks.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get current wait times for a park
    ///
    /// Returns posted wait times for all tracked attractions in the park. is_stale=true when fetched_at is more than 5 minutes ago. Source is "queue-times" (primary, 5-min refresh) or "themeparks-wiki" (secondary).
    ///
    /// - Remark: HTTP `GET /v1/parks/{parkId}/waits`.
    /// - Remark: Generated from `#/paths//v1/parks/{parkId}/waits/get(ParksController_getWaitTimes)`.
    public func ParksController_getWaitTimes(_ input: Operations.ParksController_getWaitTimes.Input) async throws -> Operations.ParksController_getWaitTimes.Output {
        try await client.send(
            input: input,
            forOperation: Operations.ParksController_getWaitTimes.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/parks/{}/waits",
                    parameters: [
                        input.path.parkId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.ParksController_getWaitTimes.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.ParksController_getWaitTimes.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get current crowd index (global + per-park)
    ///
    /// Returns crowd index values for all four WDW parks plus a global aggregate. Values are 0–100 percentile scores against the trailing-90-day distribution. confidence="bootstrap" during the first 30 days; "percentile" thereafter.
    ///
    /// - Remark: HTTP `GET /v1/crowd-index`.
    /// - Remark: Generated from `#/paths//v1/crowd-index/get(CrowdIndexController_getCrowdIndex)`.
    public func CrowdIndexController_getCrowdIndex(_ input: Operations.CrowdIndexController_getCrowdIndex.Input) async throws -> Operations.CrowdIndexController_getCrowdIndex.Output {
        try await client.send(
            input: input,
            forOperation: Operations.CrowdIndexController_getCrowdIndex.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/crowd-index",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.CrowdIndexController_getCrowdIndex.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.CrowdIndexController_getCrowdIndex.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Orlando weather forecast for a date
    ///
    /// Returns a weather forecast for the given date. Returns null if the date is beyond OpenWeather's 8-day forecast horizon. Responses are cached in Redis for 6 hours.
    ///
    /// - Remark: HTTP `GET /v1/weather`.
    /// - Remark: Generated from `#/paths//v1/weather/get(WeatherController_getWeather)`.
    public func WeatherController_getWeather(_ input: Operations.WeatherController_getWeather.Input) async throws -> Operations.WeatherController_getWeather.Output {
        try await client.send(
            input: input,
            forOperation: Operations.WeatherController_getWeather.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/weather",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "date",
                    value: input.query.date
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.WeatherController_getWeather.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.WeatherController_getWeather.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Create a trip (Phase 3)
    ///
    /// Creates a new trip with guest list and preferences. Returns 501 until Phase 3 solver implementation.
    ///
    /// - Remark: HTTP `POST /v1/trips`.
    /// - Remark: Generated from `#/paths//v1/trips/post(TripsController_createTrip)`.
    public func TripsController_createTrip(_ input: Operations.TripsController_createTrip.Input) async throws -> Operations.TripsController_createTrip.Output {
        try await client.send(
            input: input,
            forOperation: Operations.TripsController_createTrip.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/trips",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.TripsController_createTrip.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.TripsController_createTrip.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 403:
                    return .forbidden(.init())
                case 501:
                    return .notImplemented(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get a trip by ID (Phase 3)
    ///
    /// Returns the trip object including guests and preferences. Returns 501 until Phase 3.
    ///
    /// - Remark: HTTP `GET /v1/trips/{id}`.
    /// - Remark: Generated from `#/paths//v1/trips/{id}/get(TripsController_getTrip)`.
    public func TripsController_getTrip(_ input: Operations.TripsController_getTrip.Input) async throws -> Operations.TripsController_getTrip.Output {
        try await client.send(
            input: input,
            forOperation: Operations.TripsController_getTrip.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/trips/{}",
                    parameters: [
                        input.path.id
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.TripsController_getTrip.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.TripsController_getTrip.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 501:
                    return .notImplemented(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Generate an itinerary plan
    ///
    /// Enqueues a plan generation job for the trip. Returns a job_id to poll GET /v1/plans/:id for status.
    ///
    /// - Remark: HTTP `POST /v1/trips/{id}/generate-plan`.
    /// - Remark: Generated from `#/paths//v1/trips/{id}/generate-plan/post(TripsController_generatePlan)`.
    public func TripsController_generatePlan(_ input: Operations.TripsController_generatePlan.Input) async throws -> Operations.TripsController_generatePlan.Output {
        try await client.send(
            input: input,
            forOperation: Operations.TripsController_generatePlan.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/trips/{}/generate-plan",
                    parameters: [
                        input.path.id
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.TripsController_generatePlan.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.TripsController_generatePlan.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 402:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.TripsController_generatePlan.Output.Code402.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PlanBudgetExhaustedDto.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .code402(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Rethink today's remaining itinerary
    ///
    /// Enqueues a re-planning job for the remaining items today. Returns a job_id to poll GET /v1/plans/:id for status.
    ///
    /// - Remark: HTTP `POST /v1/trips/{id}/rethink-today`.
    /// - Remark: Generated from `#/paths//v1/trips/{id}/rethink-today/post(TripsController_rethinkToday)`.
    public func TripsController_rethinkToday(_ input: Operations.TripsController_rethinkToday.Input) async throws -> Operations.TripsController_rethinkToday.Output {
        try await client.send(
            input: input,
            forOperation: Operations.TripsController_rethinkToday.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/trips/{}/rethink-today",
                    parameters: [
                        input.path.id
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.TripsController_rethinkToday.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.TripsController_rethinkToday.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 402:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.TripsController_rethinkToday.Output.Code402.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.PlanBudgetExhaustedDto.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .code402(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Create anonymous user session
    ///
    /// Creates an anonymous user account and returns a JWT access token. Anonymous users can create and view trips but cannot purchase entitlements.
    ///
    /// - Remark: HTTP `POST /v1/auth/anonymous`.
    /// - Remark: Generated from `#/paths//v1/auth/anonymous/post(AuthController_anonymousAuth)`.
    public func AuthController_anonymousAuth(_ input: Operations.AuthController_anonymousAuth.Input) async throws -> Operations.AuthController_anonymousAuth.Output {
        try await client.send(
            input: input,
            forOperation: Operations.AuthController_anonymousAuth.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/auth/anonymous",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.AuthController_anonymousAuth.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.AuthController_anonymousAuth.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 201:
                    return .created(.init())
                case 500:
                    return .internalServerError(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Sync account upgrade to public.users
    ///
    /// Called after the client completes the OAuth merge via Supabase linkIdentity. The backend validates the new merged JWT, then syncs is_anonymous=false and email to public.users. Idempotent — calling on an already-upgraded user returns 200.
    ///
    /// - Remark: HTTP `POST /v1/auth/upgrade`.
    /// - Remark: Generated from `#/paths//v1/auth/upgrade/post(AuthController_upgrade)`.
    public func AuthController_upgrade(_ input: Operations.AuthController_upgrade.Input) async throws -> Operations.AuthController_upgrade.Output {
        try await client.send(
            input: input,
            forOperation: Operations.AuthController_upgrade.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/auth/upgrade",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.AuthController_upgrade.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.AuthController_upgrade.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 401:
                    return .unauthorized(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get current user profile
    ///
    /// Returns the profile for the authenticated user including is_anonymous status, email (if registered), and account creation date. Requires a valid JWT bearer token.
    ///
    /// - Remark: HTTP `GET /v1/users/me`.
    /// - Remark: Generated from `#/paths//v1/users/me/get(UsersController_getMe)`.
    public func UsersController_getMe(_ input: Operations.UsersController_getMe.Input) async throws -> Operations.UsersController_getMe.Output {
        try await client.send(
            input: input,
            forOperation: Operations.UsersController_getMe.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/users/me",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.UsersController_getMe.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.UsersController_getMe.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 401:
                    return .unauthorized(.init())
                case 404:
                    return .notFound(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Delete current user account
    ///
    /// Soft-deletes the authenticated user account, revokes all active entitlements, and schedules a 30-day data purge. Requires confirmed:true in the request body (double-tap confirmation). After deletion, the user will be blocked from all API access.
    ///
    /// - Remark: HTTP `DELETE /v1/users/me`.
    /// - Remark: Generated from `#/paths//v1/users/me/delete(UsersController_deleteMe)`.
    public func UsersController_deleteMe(_ input: Operations.UsersController_deleteMe.Input) async throws -> Operations.UsersController_deleteMe.Output {
        try await client.send(
            input: input,
            forOperation: Operations.UsersController_deleteMe.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/users/me",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .delete
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.UsersController_deleteMe.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.UsersController_deleteMe.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    return .badRequest(.init())
                case 401:
                    return .unauthorized(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get a plan by ID
    ///
    /// Returns the plan with day_plans projected by entitlement. Poll this endpoint after POST /v1/trips/:id/generate-plan or rethink-today. status="generating" while the job is in progress, "ready" when complete.
    ///
    /// - Remark: HTTP `GET /v1/plans/{id}`.
    /// - Remark: Generated from `#/paths//v1/plans/{id}/get(PlansController_getPlan)`.
    public func PlansController_getPlan(_ input: Operations.PlansController_getPlan.Input) async throws -> Operations.PlansController_getPlan.Output {
        try await client.send(
            input: input,
            forOperation: Operations.PlansController_getPlan.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/plans/{}",
                    parameters: [
                        input.path.id
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.PlansController_getPlan.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.PlansController_getPlan.Output.Ok.Body.jsonPayload.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 404:
                    return .notFound(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Restore purchases
    ///
    /// Queries RevenueCat for the authenticated user's purchase history and reconciles the entitlements table. Returns the list of active trip entitlements. Requires authenticated non-anonymous user.
    ///
    /// - Remark: HTTP `POST /v1/purchases/restore`.
    /// - Remark: Generated from `#/paths//v1/purchases/restore/post(PurchasesController_restore)`.
    public func PurchasesController_restore(_ input: Operations.PurchasesController_restore.Input) async throws -> Operations.PurchasesController_restore.Output {
        try await client.send(
            input: input,
            forOperation: Operations.PurchasesController_restore.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/purchases/restore",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    return .ok(.init())
                case 401:
                    return .unauthorized(.init())
                case 403:
                    return .forbidden(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// - Remark: HTTP `POST /v1/webhooks/revenuecat`.
    /// - Remark: Generated from `#/paths//v1/webhooks/revenuecat/post(WebhookController_handleRevenuecat)`.
    public func WebhookController_handleRevenuecat(_ input: Operations.WebhookController_handleRevenuecat.Input) async throws -> Operations.WebhookController_handleRevenuecat.Output {
        try await client.send(
            input: input,
            forOperation: Operations.WebhookController_handleRevenuecat.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/webhooks/revenuecat",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    return .ok(.init())
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
}
